@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container{
  color: white;
  background-color: black;
  height: 40rem;
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
}

.result{
  width: 10rem;
  height: 40rem;
  background-color: rgb(194, 194, 189);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 32px;
  padding: 1rem 5px;
}