@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board{
  width: 40rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 4px;
  background: linear-gradient(to right, #141e30, #243b55);
  border: 5px solid black;
}

.square{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(113, 115, 116);
  border: 10px;
}

.square img{
  object-fit: contain;
  width: 100%;
  height: 100%;
  border: 10px;
}

.square > img.hide{
  display: none;
}

.square > .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(111, 0, 255);
}

.square:hover > .overlay,
.square img.hide + .overlay {
  display: none;
  background-color: unset;
}